# MySQL:
# DATABASE_URL=mysql+pymysql://USER:PASSWORD@HOST:3306/DB_NAME
# PostgreSQL(Render):
DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST:5432/DB_NAME
CORS_ORIGINS=https://your-frontend.vercel.app
DB_ECHO=false
HOST=0.0.0.0
PORT=8000
RELOAD=false
